# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/
dist/
build/

# Virtual environments
env/
venv/
.venv/
ENV/

# =========================
# FastAPI / Uvicorn
# =========================
*.log

# =========================
# Docker
# =========================
*.tar
docker-compose.override.yml

# =========================
# GitHub Actions
# =========================
.env
.env.*

# =========================
# OS / Editor
# =========================
.DS_Store
Thumbs.db

# VS Code
.vscode/
!.vscode/extensions.json

# IntelliJ / PyCharm
.idea/

# =========================
# Test / Coverage
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# Misc
# =========================
*.sqlite3
