name: Build & Push FastAPI BMI Docker Image

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ Checkout the repo
      - name: Checkout code
        uses: actions/checkout@v4

      # 2️⃣ Set up Docker Buildx
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # 3️⃣ Login to Docker Hub
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      # 4️⃣ Build Docker image
      - name: Build Docker image
        run: |
          docker build -t fastapi-bmi:latest .
          # Add Docker Hub tag
          docker tag fastapi-bmi:latest ${{ secrets.DOCKER_HUB_USERNAME }}/fastapi-bmi:v1
          docker tag fastapi-bmi:latest ${{ secrets.DOCKER_HUB_USERNAME }}/fastapi-bmi:latest

      # 5️⃣ Push to Docker Hub
      - name: Push Docker image to Docker Hub
        run: |
          docker push ${{ secrets.DOCKER_HUB_USERNAME }}/fastapi-bmi:v1
          docker push ${{ secrets.DOCKER_HUB_USERNAME }}/fastapi-bmi:latest
